body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

h1 {
    font-style:unset;
    position: absolute;
    top: 350px;
    left: 200px;
    margin: 10px;
    font-size: 45px;
}

h1:hover {
    color: #ff0000;

}

label {

    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    
}

input, select {
    width: 160%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}


.button-container {
    position: absolute;
    top: 150px;
    right: 25%;
    display: flex;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    animation: pulse 2s infinite ease-in-out;
    border-radius: 10px;
    cursor:auto;
    margin: 0 auto;
    display: block;
}

button:hover {
    background-color: #45a049;
    box-shadow: 0 0 10px rgba(227, 157, 6, 0.4);
    transition: box-shadow 0.3s ease-in-out;
    transform: scale(1.1);
    padding: 10px 30px; 
}
.center-container {
    padding-left: 70%;
    padding-top: 10px;
}
