body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
h1 {
    text-decoration: underline;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 45px;
}
h1:hover {
    color: #4CAF50;
    font-size:48px;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    animation: pulse 2s infinite ease-in-out;
    border-radius: 10px;
    cursor:auto;
    margin: 0 auto;
    display: block;
}

button:hover {
    background-color: #45a049;
    box-shadow: 0 0 10px rgba(227, 157, 6, 0.4);
    transition: box-shadow 0.3s ease-in-out;
    transform: scale(1.1);
    padding: 10px 30px; 
}
.center-container {
    padding-left: 70%;
    padding-top: 10px;
}
